.Apps{
    position: relative;
    width: 5500px;
    margin: 100px 0px 0px 0px;
    left: 150px;

}

img{
    border-radius: 20px !important;
   
}
h4{
    display: flex;
    justify-content: center;
    margin: 40px;
    font-size: 30px;
    color: black;
}

